// Main colors:

$action-blue: #4f77ff;
$action-green: #34c635;
$action-purple: #886cff;
$action-red: #ef3737;
$action-orange: #ff9513;
$action-yellow: #f9e492;
$action-pink: #ffc0ec;
$action-blue-dark: #001c7f;
$action-blue-turquoise: #61dcdf;

// Background colors:

$background-dark: #12022f;
$background-light: #f8fafc;
$background-light-alt: #f7f5f1;
$background-alt: #321370;
$background-white: #ffffff;
$background-grey: #292f3a;
$background-red: #fcdbdb;

// Text colors:

$text-heading: #2d3958;
$text-normal: #7b88a8;
$text-white: #ffffff;
$text-grey: #e7e5ea;
$text-primary: #120f1f;
$text-dark: #12022f;
$text-black: #000000;

// Border color:

$border-hr-line: rgba(97, 119, 152, 0.2);
$border-line: rgba(97, 119, 152);
$border-grey: #e7e5ea;

// Box shadow

$blue-shadow: rgba(79, 119, 255, 0.2);
$box-shadow-1: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
